<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h2>Listing Details</h2>
    <div class="row">
        <div class="col-8 offset-2">
    <div class="card">
        <img class="card-img-top show-img" src="<%=requiredList.image%>" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
       <b>
        <%= requiredList.title %>
       </b> </p>
      <p class="card-text">
        <b>Owned By:<%= requiredList.owner.username %></b>
      </p>
      <p class="card-text">
        <%= requiredList.description %>
      </p>
       <br>
       <p class="card-text">
        Prize: &#8377;</b></span>
        <%= requiredList.prize%> <br>
       </p>
      <p class="card-text">
       Location: <%= requiredList.location %>
      </p> 
     <p class="card-text">
       Country:  <%= requiredList.country %>
     </p>
   
  </div>
    </div>
      
    <% if(currUser && requiredList.owner._id.equals(currUser._id)){ %>
            <button class="btn btn-dark m-3 show-btn"> <a href="/listings/<%=requiredList._id%>/edit">Edit this listing</a></button>
            <form method="POST" action="/listings/<%=requiredList._id%>?_method=DELETE">
                <button class="btn btn-dark del-btn m-3">Delete this listing</button>
    <% } %>
      
    </form>
    <div class="col-8 offset-3">
        <button>Weather</button>
    </div>
  <% if(currUser){ %>
   
    <div class="col-8 offset-3">
        <hr>
        <h4>Leave a review</h4>
         <form method="POST" action="/listings/<%=requiredList._id%>/review">
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" >
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comments:</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            </div>
            <button class="btn btn-outline-dark">Save Review</button>
         </form>
    </div>
    <% } %>
    <hr>
    <h4>All Reviews</h4>
    <ul>
     <div class="row">
        <% for( review of requiredList.reviews){ %>
            <div class="card col-5 mb-3 ms-3 review" >
               <div class="card-body ">
                <h5 class="card-title"> @<%= review.author.username %></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text"><%= review.rating %> Star </p>
                <form method="POST" action="/listings/<%=requiredList.id%>/review/<%=review.id%>?_method=DELETE">
                    <button class="btn btn-sm btn-outline-dark delreview">Delete Review</button>
                </form>
               </div>
               
            </div>
            <% } %>
     </div>
    </ul>
    <ul>

    </ul>
</div>
</div>
</body>